*{

    margin: 0;
    padding: 0;

}


#header{

    width: 1500px;
    height: 600px;
    background-image: url(./assets/bg_header.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


#nav{

    display: flex;
    flex-direction: column;
    align-content: start;

}


.menu{

    display: flex;
    flex-flow: row wrap;

    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    opacity: 1;

    list-style-type: none;

}


#clickable_item{

    padding: 20px 30px 20px;

}

#clickable_item a{

    text-decoration: none;
    color: white;
    padding-bottom: 5px;

}

#clickable_item:hover{

    color: orange;
    border-bottom: 2px solid orange;

}

#item_logo{

    width: 300px;
    height: 70px;
    position: relative;

}


#item_logo img:nth-child(2){

    position: absolute;
    right: 0;
    opacity: 1;

}


#item_logo:hover img:nth-child(2){

    opacity: 0;

}


#container{
    background-color: white;
}


#footer{
    background-color: yellow;
}